package pages

import (
	"gothstarter/layouts"
)

templ Index() {
	@layouts.Base() {
		<div class="flex flex-col items-center"></div>
		<script src="/public/helloWorld.js" data-some-field="hey there"></script>
	}
}
